.container {
  height: 100px;
  width: 295px;
  border: 2px solid var(--foundation-black-black-3, #f5f5f5);
  padding: 15px;
  background: var(--white, #fff);
  box-shadow: 0px 22.02703px 22.02703px 0px rgba(0, 0, 0, 0.04),
    0px 44.05405px 55.06757px 0px rgba(0, 0, 0, 0.1);
  margin: 50px 20px
}

.wrap {
  height: 50px;
  width: 280px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid var(--foundation-black-black-6, #bfbfbf);
  background: var(--foundation-black-black-3, #f5f5f5);
}

.text {
  margin-left: 20px;
  color: var(--foundation-black-black-9, #454545);
}
